@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
}

:root {
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    --line: hsl(240, 5%, 91%);
    --softred: hsl(14, 88%, 65%);
    --desaturatedblue: hsl(238, 29%, 16%);
    --Verydarkgrayishblue: hsl(237, 12%, 33%);
    --Darkgrayishblue: hsl(240, 6%, 50%);
}

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--Softviolet), var(--Softblue));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 375px;
    position: relative;
    overflow: hidden;
}

#overall {
    position: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 400px;
    width: 615px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    overflow: visible;
}

.left {
    width: 300px;
    height: 380px;
    /* margin-top: 30px; */
    transform: scaleX(-1);
    padding: 0px;
    position: absolute;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 50px -150px;
}

#deskwoman {
    position: absolute;
    top: 65px;
    left: 50px;
    transform: scaleX(-1);
    /* overflow: visible; */
}

#mobwoman {
    display: none;
}

#box {
    position: absolute;
    transform: scaleX(-1);
    width: 130px;
    height: 130px;
    top: 150px;
    left: 225px;
}

.right {
    position: absolute;
    padding-left: 270px;
    width: 540px;
}

#title {
    margin-top: 35px;
    font-size: 25px;
    margin-left: 30px;
}

#content {
    margin-top: 15px;
    margin-left: 30px;
}

#content .label {
    margin-right: 10px;
    width: 250px;
    color: var(--Verydarkgrayishblue);
}

.label {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    font-size: 12px;
}

#content .label:hover {
    color: var(--softred);
}

#content .ans1 {
    width: 250px;
    color: var(--Darkgrayishblue);
    display: none;
}

#content .btn {
    position: absolute;
    right: 0;
    width: 10px;
    height: 8px;
    margin-top: 5px;
}

.img-container1 {
    cursor: pointer;
    display: inline;
}

hr {
    width: 250px;
    background-color: var(--line);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 10px;
    height: 8px;
    outline: none;
    border: none;
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transition: .5s;
    position: absolute;
    /* transform: translateX(5px); */
}

@media screen and (max-width:400px) {
    body {
        /* background-color: red; */
        background-image: linear-gradient(to bottom, var(--Softviolet), var(--Softblue));
        overflow-x: hidden;
        height: 600px;
    }
    #container {
        width: 325px;
        /* display: flex;
        flex-direction: column; */
        height: 530px;
        margin-top: 115px;
        margin-bottom: 30px;
        margin-right: 15px;
    }
    #deskwoman {
        display: none;
    }
    #mobwoman {
        display: block;
        position: absolute;
        top: -127px;
        left: -10px;
        z-index: 10;
        transform: scaleX(-0.7) scaleY(0.7);
    }
    .left {
        background-size: 220px;
        background-position: 25px -115px;
    }
    #title {
        margin-top: 100px;
    }
    .right {
        padding: 0;
    }
    .btn {
        margin-right: 250px;
    }
    #box {
        display: none;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}